@font-face {
    font-family: 'super_mario_256regular';
    src: url('font/supermario256.woff2') format('woff2'),
         url('font/supermario256.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    text-align: center;
    background-image: url('images/MarioBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#game-grid {
    background-color: #FFD987;
    display: inline-block
}
.columns {
    display: inline-block;
    text-align: center;
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.hover-red {
    background: red;
    opacity: 0.3;
}

.hover-black {
    background: #43b047;
    opacity: 0.3;
}

.columns.red {
    background-image: url('images/mario-pose2.png');
    background-color: red;
}

.columns.black {
    background-image: url("images/Bowser.png");
    background: #43b047;
}

.start {
    float:left;
    text-align: center;
    width: 500px;
    height: 50px;
}

.submit{
    text-shadow: -4px 5px 10px black;
    font-size: 20px;
    color: white;
    background-color: #43b047;
    font-family: 'super_mario_256regular';
    width: 200px;
    height: 75px;
}

#restart {
    text-shadow: -4px 5px 10px black;
    font-size: 20px;
    color: white;
    background-color: red;
    font-family: 'super_mario_256regular';
    width: 200px;
    height: 75px;
}

img {
    padding: 8px;
    margin: auto;
    height: 63px;
    width: 47px;
}

.game-name {
    text-align: center;
    font-size: 50px;
    height: 70px;
    font-family: 'super_mario_256regular';
    color: white;
    text-shadow: -4px 5px 10px black;
}