body {
    text-align: center;
}

#gameGrid {
    background-color: yellow;
    display: inline-block
}
.columns {
    display: inline-block;
    text-align: center;
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.hover-red {
    background: red;
    opacity: 0.3;
}

.red {
    background: red
}
